
*{
    font-family: 'Roboto', sans-serif;
    /* font-size: 1.2em; */
    margin: 0;
    padding: 0
}
body {
    background-image: url("images/MountainSweewli.jpg");
    background-color: rgba(255, 219, 165, 0.5);
    /* line-height: 1.2em; */
}

    #wrapper {

        width: 80%;
        margin: auto;
    }

#home-header {
    background-color: blue;
    position: fixed;
    width: 100%;
}

hr {
    margin-top: 200px;
}

p {
    /* text-overflow: ellipsis; */
    max-width: 600px;
    /* max-height: 40%; */
  }
h1 {
    font-family: 'Bungee Inline', sans-serif;
    color: rgba(255, 0, 0, 0.5);
    text-decoration: green wavy underline;
}
h2 {
    text-transform: capitalize;
}

ul#mainNav {
    list-style-type: none;
    /* font-size: .5em; */
}
li {
    display: inline;
}

.nav-right-margin {
    margin-right: 20px;
}

.nav-global {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

img {
    width: 25%; 
    height: auto; 
    float: left;
    padding-right: 25px;
    padding-bottom: 15px;
}
article {
    margin-top: 30px;
    /* font-size: .5em; */
}
h3 {
    /* font-size: 1em; */
    text-align: center;
} 

footer {
}
  
a:link {
        /* background-color: rgba(4, 0, 255, 0.5); */
        color: black
}

a:visited {
    /* background-color: rgba(4, 0, 255, 0.5); */
    color: black
}
a:hover {
    background-color: rgba(4, 0, 255, 0.5);
    color: white
}

.columns {float:left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

nav {
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 100%;
    margin-top: 30px;
    }

    